.accountItem {
    border-bottom: 1px solid grey;
}

.accountItem td {
    font-size: 0.9rem;
    padding: 10px;
    white-space: nowrap;
    border-right: 1px solid grey;
}

.accountItem td:last-of-type {
    border-right: none;
}