.loadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loadText {
    font-size: 2rem;
    font-weight: bolder;
}

.loader {
    height: 3rem;
    width: 3rem;
}